* {
    box-sizing: border-box;
}

:root {
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
    --Linear-Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
    --base-font-size: 15px;
}

html {
    font-size: var(--base-font-size);
}


.main{
   flex: display;
   align-items: centre;
   justify-content: centre;
   width: 100%;
    height: 100vh;
   background-color:#D3D3D3;
   padding: 50px;
   
}

.big-container {
    display: flex;
   flex-direction: column;
    width: 90%;
    height: 90vh;
    margin: auto;

    justify-content: center;
    align-items: center;
    background-image: url(bg-top.svg), url(bg-bottom.svg);
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    background-color: var(--Very-Light-Grayish-Blue);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 50px;
    border-radius: 20px;
}

.card-middle {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 50px;
    border-radius: 20px;
}

.card-text1,.top-text,.card-price,.card-price1,.learn,.learn1,.card-text-b,.card-text1-b1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.main-heading {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 75px;
    font-size: 20px;
}

.card-price1,
.card-price {
    font-size: 50px;
}

.btn,
.btn1 {
    align-self: center;
    margin-top: 20px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius:  10px;
}




.card-text-b,
.card-price {
    border-bottom: 1px solid grey;
}

.card-text1-b1,
.card-price1 {
    border-bottom: 1px solid lightgray;
}

.card-price,
.card-price1 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-text-b,
.card-text1-b1 {
    padding-top: 10px;
    padding-bottom: 10px;
}





.btn {
    background-image: linear-gradient(hsl(252, 77%, 76%), hsl(258, 97%, 59%));
    border: 0px;
}

.btn1 {
    
    border: 0px;
    color: grey;
}

.card-middle{
    background-image: linear-gradient(hsl(252, 77%, 76%), hsl(258, 97%, 59%));
}